<!-- Header -->
<!--<header>
  <h1>Mon Application</h1>
  <h1>Détails de la Formation</h1> -->
    <!-- Boutons de navigation -->
   <!-- <a routerLink="/dashboard" class="btn">Retour au tableau de bord</a>
    <a routerLink="/certificat/all-certificat" class="btn">Voir les certificats</a>
    <a routerLink="/moduleformation" class="btn">Voir les modules de formation</a>
    <a routerLink="/formation/all" class="btn action-btn add-btn">formation</a> -->
<!--</header> -->

<!-- Contenu principal -->
<main>
  <!-- Vous pouvez utiliser des balises router-outlet pour afficher les différents composants en fonction de l'URL -->
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<!--<footer>
  <p>Copyright © 2024. Tous droits réservés.</p>
</footer>
-->